body {
    font-family: 'Work Sans', sans-serif;
    /* background-color: #4992d1; */
    background-color: #274b69;
    color: white;
    height: 100vh;
    margin: 0px;
}

/* .btn {
    --bs-btn-bg: white;
} */

.tablink {
    padding: 10px;
    border-radius: 5vw;
    margin: 10px;
    font-size: 1.3vw;
}

.tablink:hover {
    text-decoration: underline;
}

.tabcontent.active {
    display: block;
}

a.selected {
    background-color: #dc873e;
}

.day {
    height: 14.1%;
    /* margin: 0.5% 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* position: relative; */
    overflow: hidden;
}

.pane-container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 90%;
    overflow: hidden;
    /* padding: 1%; */
    border-radius: 1vh;
    border: 1px solid #89b1d4;
    /* background-color: #5483ac; */
    transition: background-color 0.2s ease;
}

.pane-container:hover {
    background-color: #89b1d4;
    cursor: pointer;
}

.main-pane {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    /* transition: top 0.5s ease; */
}

.detail-pane {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 130%;
    transition: top 0.5s ease;
    display: flex;
    align-items: center;
}

.detail-period-title {
    font-size: 20pt;
    padding: 10px 0px;
    text-align: center;
}

.np-con button {
    width: 30vw;
}

.pname {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%); 
    font-size: min(3vw, 20pt);
    white-space: nowrap;
}

.pname-con {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 50%;
    top: 0%;
    transition: top 0.5s ease;
}

.icon {
    text-align: center;
    height: min(100%, 10vw);
    width: 30%;
    aspect-ratio: 1 1;
    position: relative;
}

.icon-img {
    height: 100%;
}

.icon-img-multiple {
    height: 120%;
    /* width: 50%; */
    aspect-ratio: 1 1;
}

.icon-cha-prec {
    position: absolute;
    height: 15%;
    right: 0; 
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-cha-prec-text {
    font-size: 0.7em;
}

.cond-text {
    padding: 5px;
    font-size: 1.8vh;
}

.detail-section {
    display: none;
}

.detailed-forecast {
    font-size: 1.5vw;
}

.overview-chart-container {
    height: 100%;
    background-color: #2b2b2b;
}

.chart-canvas-overview {
    width: 100%;
    height: 90%;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px     15px;
    background-color: #274b69;
    padding-left: 5px;
    height: 15vh;
}

#tabs-container {
    height: 85vh;
}

#seven-day {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#period-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    font-size: 2rem;
}

#details {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 0px 10px;
    margin: 0px 10px;
    border: 2px solid #89b1d4;
    border-radius: 1vh;
}

#details-default {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 50% 0;
}

#location-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#go-button {
    font-size: 12pt;
    height: 30px;
}

#location-input {
    font-size: 12pt;
    height: 30px;
    width: 30vw;
}

#loading-screen {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgb(0,0,0,0.5);
}

#spinner {
    display: none;
    height: 30px;
}

#loading-screen-spinner {
    height: 100px;
}

#afd {
    margin: 20px 10%;
    height: 100%;
}

#detail-back-btn {
    display: none;
}

#map-select-div {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: red; */
}

#map-div {
    /* width: 400px; */
    /* height: 400px; */
    width: 100%;
    height: 100%;
}

#map-buttons-div {
    position: absolute;
    top: 20px;
    right: 5%;
    display: flex;
    gap: 5px;
    z-index: 500;
}

.map-button:disabled {
    background-color: white;
}

.leaflet-container.crosshair-cursor {
    cursor: crosshair;
}

.temp-marker {
    width: 10px;
    height: 10px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
}

#sub-header {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#location-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

#location-tab-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.tabcontent {
    display: none;
    height: 100%;
}

.btn-primary {
    --bs-btn-bg: #89b1d4;
    --bs-btn-border-color: #89b1d4;
    --bs-hover-bg: lightgrey;
    --bs-hover-border-color: lightgrey;
    --bs-disabled-bg: lightgrey;
    --bs-disabled-border-color: lightgrey;
}

@media (width <= 800px) {
    #details {
        width: 100%;
    }

    #header {
        flex-direction: column;
    }

    #period-list {
        width: 100%;
    }

    #details.mobile-hide {
        display: none;
    }

    #period-list.mobile-hide {
        display: none;
    }

    #detail-back-btn {
        display: inline;
        margin: 5px 0;
    }

    /* .tablink {
        display: none;
    } */

    .pname {
        font-size: 4vw;
    }

    .temp-text {
        font-size: 6vw;
    }

    .detailed-forecast {
        font-size: 4vw;
    }

    .graph-div {
        height: 50%;
    }

    .detail-section {
        height: 100%;
    }

    #sub-header {
        width: 100%;
        margin: 10px 0;
    }
}